<div class="container mt-4">
  <form
    #formGroupDirective="ngForm"
    (ngSubmit)="onSubmit(formGroupDirective)"
    [formGroup]="form"
    novalidate
  >
    <div class="row">
      <div class="col-md-6 mb-3" *ngFor="let field of fields">
        <mat-form-field
          appearance="fill"
          class="w-100"
          *ngIf="field.type !== 'select'"
        >
          <mat-label>{{ field.label | translate }}</mat-label>
          <input
            matInput
            name="{{ field.name }}"
            [formControlName]="field.name"
            [readonly]="field.isReadonly"
            type="number"
            *ngIf="field.type === 'number'"
          />
          <input
            matInput
            name="{{ field.name }}"
            [formControlName]="field.name"
            [readonly]="field.isReadonly"
            type="text"
            *ngIf="field.type === 'text'"
          />
          <input
            matInput
            name="{{ field.name }}"
            [formControlName]="field.name"
            [readonly]="field.isReadonly"
            type="email"
            *ngIf="field.type === 'email'"
          />
          <input
            matInput
            name="{{ field.name }}"
            [formControlName]="field.name"
            [readonly]="field.isReadonly"
            type="url"
            *ngIf="field.type === 'url'"
          />
          <mat-error *ngIf="form.get(field.name)?.['invalid']">
            {{ field.error | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          class="w-100"
          *ngIf="field.type === 'select'"
        >
          <mat-label>{{ field.label | translate }}</mat-label>
          <mat-select
            [attr.name]="field.name"
            [formControlName]="field.name"
          >
            <mat-option
              *ngFor="let option of field.options"
              [value]="option.value"
            >
              {{ option.viewValue | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get(field.name)?.['invalid']">
            {{ field.error | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 my-4"></div>
      <div class="col-md-6 my-4">
        <button
          mat-raised-button
          class="float-end w-100 h-100 p-3"
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          {{ 'sdbg.examples.form.save' | translate }}
          <fa-icon icon="plus" color="accent"></fa-icon>
        </button>
      </div>
    </div>

    <div class="row" *ngIf="isProductionEnv !== true">
      <mat-label>Validation Errors of Form Control:</mat-label>
      <br />
      <pre class="float-end">{{ getAllErrors(form) | json }}</pre>
    </div>
  </form>
</div>
