// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import 'styles-variables';

// FIXME
// Functions first
@import '../../../node_modules/bootstrap/scss/functions';
// Required Bootstrap imports
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/variables-dark';
@import '../../../node_modules/bootstrap/scss/maps';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/root';

// Optional components
@import '../../../node_modules/bootstrap/scss/utilities';
@import '../../../node_modules/bootstrap/scss/reboot';
@import '../../../node_modules/bootstrap/scss/containers';
@import '../../../node_modules/bootstrap/scss/grid';
@import '../../../node_modules/bootstrap/scss/helpers';
@import '../../../node_modules/bootstrap/scss/utilities/api';

@import 'styles-reset';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-mdc-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';

@import 'styles-reset.scss-theme';
@import './app/app/app.component.scss-theme';
@import './app/shared/big-input/big-input/big-input.component.scss-theme';
@import './app/features/about/about/about.component.scss-theme';
@import './app/features/examples/notifications/components/notifications.component.scss-theme';
@import './app/features/examples/todos/components/todos-container.component.scss-theme';
@import './app/features/examples/stock-market/components/stock-market-container.component.scss-theme';
@import './app/features/examples/theming/parent/parent.component.scss-theme';
@import './app/features/examples/theming/child/child.component.scss-theme';
@import './app/features/examples/examples/examples.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include sdbg-styles-reset-theme($theme);
  @include sdbg-app-component-theme($theme);
  @include sdbg-about-component-theme($theme);
  @include sdbg-big-input-component-theme($theme);
  @include sdbg-notifications-component-theme($theme);
  @include sdbg-todos-container-component-theme($theme);
  @include sdbg-stock-market-container-component-theme($theme);
  @include sdbg-parent-component-theme($theme);
  @include sdbg-child-component-theme($theme);
  @include sdbg-examples-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($sdbg-theme);
  @include custom-components-theme($sdbg-theme);
}

.light-theme {
  @include mat.all-component-themes($sdbg-light-theme);
  @include custom-components-theme($sdbg-light-theme);
}

.black-theme {
  @include mat.all-component-themes($sdbg-black-theme);
  @include custom-components-theme($sdbg-black-theme);
}

.nature-theme {
  @include mat.all-component-themes($sdbg-nature-theme);
  @include custom-components-theme($sdbg-nature-theme);
}
