@use '@angular/material' as mat;

@mixin sdbg-child-component-theme($theme) {
  $warn: map-get($theme, warn);

  sdbg-child {
    > div {
      border-color: mat.m2-get-color-from-palette($warn);

      > h2 {
        color: mat.m2-get-color-from-palette($warn);
      }
    }
  }
}
