@use '@angular/material' as mat;

$sdbg-black-primary: mat.m2-define-palette(mat.$m2-grey-palette, 700, 300, 900);
$sdbg-black-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, 400);
$sdbg-black-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

$sdbg-black-theme: mat.m2-define-dark-theme(
  $sdbg-black-primary,
  $sdbg-black-accent,
  $sdbg-black-warn
);
